// @import '../components/kit/core/mixins.scss';

@import './mixins.scss';
.topbar {
  padding: 0 rem(30);
  min-height: 64px;
  height: 64px;
  border-bottom: 1px solid $border;
  color: $text;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  @media (max-width: $sm-max-width) {
    padding: 0 rem(16);
  }
  // .topbar>.row-call>.div1>h1>.blink_me{
  // animation: blinker 2s linear infinite;
  // }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
}

// dark theme
[data-kit-theme='dark'] {
  .topbar {
    background: $dark-gray-6;
    color: $dark-gray-1;
    border-bottom: 1px solid $dark-gray-4;
  }
}
